<!-- review-car.handlebars -->
<div class="review-card">
  <h3>{{title}}</h3>
  <p>Review: {{body}}</p>
  <p>Author: {{user.username}}</p>
  <p>Car: {{car.year}} {{car.make}} {{car.model}}</p>
</div>
