<!-- Search Section -->
<div class="container">
    <form id="searchForm">
        <label for="year">Year:</label>
        <input type="text" id="year" name="year">

        <label for="make">Make:</label>
        <input type="text" id="make" name="make">

        <label for="model">Model:</label>
        <input type="text" id="model" name="model">

        <button type="submit">Search</button>
    </form>
</div>

<!-- Display Search Results -->
<div class="container" id="searchResults">
    {{#if cars.length}}
        {{#each cars}}
            <div class="car-card">
                <h2><a href="/reviews/{{id}}">{{year}} {{make}} {{model}}</a></h2>
                <!-- Add other car details as needed -->
            </div>
        {{/each}}
    {{else}}
        <p>No search results found.</p>
    {{/if}}
</div>



<!-- Include the JavaScript file -->
<script src="/assets/js/search-results.js"></script>


